[submodule "system_files/desktop/shared/usr/share/plasma/desktoptheme/plasmaX"]
	path = system_files/desktop/shared/usr/share/plasma/desktoptheme/plasmaX
	url = https://github.com/zastrixarundell/plasmaX.git
